@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

#wrapper {
    display: flex;
}


.target {
    color: #bb9d52;

}

#first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57rem;
    margin: 0;
    width: 100%;
    font-size: 2rem;

}

#first-section img {
    width: 100%;
    height: 57rem;
    object-fit: fill;
    opacity: 0.9;
}

.heading-text {
    position: absolute;
    top: 36rem;
    left: 30%;
    right: 30%;
    text-align: center;
    width: 45%;
}

.heading-text h2 {
    color: white;
}

.heading {
    margin: 10px;
    color: #b5d182;
    font-family: 'Aladin', cursive;
    font-size: 3rem;
}

.lead {
    color: white;

}

.second-section {
    background-color: rgb(233, 233, 233);
    text-align: center;
}

/* .message-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.about-home {
    padding: 20px;
    margin-bottom: 50px;
}

.about-home h2 {
    margin-bottom: 20px;
}

.btn {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 15px;
    background-color: black;

}

.btn:hover {
    background-color: #bb9d52;
}

.link-btn {
    display: inline-block;
    margin: 20px;

}

.grd1 {
    width: 250px;
    margin: auto;
    margin-top: 10px;
}


#artist {
    text-align: center;
}

.artist-img {
    margin: 20px;
    border-radius: 130em;
    max-width: 500px;
    width: 40%;
}

.par {
    padding: 5px 25%;
    text-align: center;
    align-content: center;
}

.artist-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.copyrights {
    display: flex;
    margin-top: 15rem;
    justify-content: space-between;
}