
.first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vw;
    margin: 0;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 25%;

}

.background-img {
    width: 100%;
    object-fit: fill;
    opacity: 0.7;
}

.title-heading{
    position: absolute;
    top: 20vw;
    left: 30%;
    right: 30%;
    text-align: center;
    width: 45%;
}
.title-heading h1{
    font-size: 8vw;
    color: white;
    border: 3px solid;
    border-radius: 130px;
    padding-bottom: 15px;
    
}

.center{
    text-align: center;
}

.gallery-section{
    margin-top: 50px;
}


.gallery-tattoo-images{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 35px;
}

.gallery-tattoo-images img{
    max-height: 20vw;
    border-radius: 300px;
}

.tattoo-styles li{
list-style: none;
padding-top: 20px}